<form #filterForm="ngForm" (ngSubmit)="applyFilter()" class="form-inline mt-sm-3" autocomplete="off">
    <div class="form-group px-1 p-sm-2">
        <label class="col-form-label col-form-label-sm mr-2" for="address">Address: </label>
        <input type="text" class="form-control form-control-sm border-primary" style="width: 300px;" id="address"
            [(ngModel)]="params.address" name="address" placeholder="Search by {{addressPlaceholder}}" />
    </div>
    <div class="form-group px-1 p-sm-2">
        <label class="col-form-label col-form-label-sm mr-2" for="bankName">Name: </label>
        <input type="text" class="form-control form-control-sm border-primary" placeholder="Search by Bank"
            style="width: 200px;" id="bankName" [(ngModel)]="params.bankName" name="bankName" />
    </div>
    <div class="form-group px-1 p-sm-2">
        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-filter"></i> Filter</button>
    </div>
    <div class="form-group px-1 p-sm-2">
        <button class="btn btn-sm btn-info" type="button" (click)="resetFilter()"><i class="fa fa-undo"></i> Reset</button>
    </div>
    <div class="form-group px-1 p-sm-2">
        <button class="btn btn-sm btn-outline-primary" type="button" routerLink="/admin/bank-register"><i class="fa fa-sign-in"></i> Register Bank</button>
    </div>
</form>
<div class="list-group">
    <a routerLink="/admin/bank/{{bank.id}}" class="list-group-item list-group-item-action" *ngFor="let bank of modals">
        <div class="row">
            <div class="image col-12 col-md-1 d-flex align-items-center align-items-md-start flex-column">
                <img src="{{bank.photoUrl || './assets/images/hospital.png'}}" class="img-fluid mb-2 mb-md-0"
                    style="max-height: 50px;" />
            </div>
            <div class="col-12 col-md-11">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-primary">{{bank.name}}</h5>
                    <small><i class="fa fa-history"></i> {{bank.lastUpdated | timeago}}</small>
                </div>
                <small class="text-muted"><i class="fa fa-map-marker"></i> {{bank.area}}, {{bank.city}} - {{bank.postalCode}}.</small>
                <div>
                    <small class="text-info"><i class="fa fa-id-card"></i> BankId - {{bank.id}}</small>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="d-flex justify-content-center mt-2" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalCount" [maxSize]="7"
        [itemsPerPage]="pagination.pageSize" (pageChanged)="pageChanged($event)" [(ngModel)]="pagination.pageNumber"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
