<div class="form-group has-success">
    <input type="{{type}}" [class.is-invalid]="ngControl.invalid && ngControl.touched"
        [class.is-valid]="ngControl.valid && label === 'UserName'" class="form-control"
        [formControl]="ngControl.control" placeholder="{{label}}">
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">Please enter a {{label}}.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.notMatching">Password not matching.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.alreadyExist === true">Username already exist.</div>
    <div class="valid-feedback" *ngIf="ngControl.valid">{{label}} available.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.email">Please enter valid {{label}}.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">
        {{label}} must be atleast {{ngControl.control.errors.minlength.requiredLength}} characters.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">
        {{label}} must be atmost {{ngControl.control.errors.maxlength.requiredLength}} characters.</div>
</div>