<div class="form-group">
    <input type="{{type}}" [class.is-invalid]="ngControl.invalid && ngControl.touched" class="form-control" [formControl]="ngControl.control"
        placeholder="{{label}}">
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">Please enter a {{label}}.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.notMatching">Password not matching.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.email">Please enter valid {{label}}.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.minlength">
        {{label}} must be atleast {{ngControl.control.errors.minlength.requiredLength}} characters.</div>
    <div class="invalid-feedback" *ngIf="ngControl.control.errors?.maxlength">
        {{label}} must be atmost {{ngControl.control.errors.maxlength.requiredLength}} characters.</div>
</div>