<div class="row form-group">
    <div class="col-sm-3">
        <label for="{{label}}" class="text-primary mt-2">{{label}}</label>
    </div>
    <div class="col-sm-9 text-secondary">
        <input type="{{type}}" id="{{label}}" [class.is-invalid]="ngControl.invalid && ngControl.touched" class="form-control" [formControl]="ngControl.control">
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.required">Please enter a {{label}}.</div>
        <div class="invalid-feedback" *ngIf="ngControl.control.errors?.email">Please enter valid {{label}}.</div>
    </div>
</div>